body {
  background-color: azure;
  
}

.modal-content {
  width: 170%;
}
.modal-footer, .modal-header, .modal-content {
  text-align: center;
  margin: auto;
}
#library {
  float: right;
  margin-right: 120px;
}
.card-deck {
  clear: both;
  margin: 100px;
}
#movie-form {
  display: flex;
  margin-left: 120px;
}