body {
  background-color: rgb(45, 48, 48);
  
}

.modal-content {
  width: 170%;
}
.modal-footer, .modal-header, .modal-content {
  text-align: center;
  margin: auto;
}
#library {
  float: right;
  margin-right: 120px;
}
.card-deck {
  clear: both;
  margin: 100px;
}
#movie-form {
  display: flex;
  margin-left: 120px;
}

.display-4{
  text-align: center;
  color: rgb(179, 15, 15);
  font-family: Arial, sans-serif;
  font-size: 100px;

}

.jumbotron, .card {
  background-color: rgb(45, 48, 48);
  border-style: ridge;
  border-width: 1rem;
  border-color: rgb(179, 15, 15);
  font-style:oblique;

  
}

.lead{
  color: rgb(179, 15, 15);
  font-style:oblique;
  font-size: 35px;
  font-family: Arial, sans-serif;
  text-align: center;
}
 
#card2, #card1{
  background-color: rgb(55, 58, 58);
}

.card-title, .card-text, #movie-plot{
  text-align: center;
  color: rgb(179, 15, 15);
}
 
.card-img-top {
  
  margin-left: 5px;
  margin-right: 5px;
  width: 450px;
  height: 300px;
}

 div .card {
  
  padding: 5px;
  width: 400px;
  height: 600px;
 }

.card-title{
  font-size: 50px;
}

#movie-plot{
  overflow: hidden;
  font-size: 30px;
}

.card-text{
  overflow: hidden;
  text-align: justify;
  font-size: 30px;
  color: white;
  padding: auto;
}

h4 {
  overflow: hidden;
  text-align: center;
  color: white;
  padding: auto;
}